import React from 'react';
import Styles from './<%= data.name %>.<%= data.iType %>';

const <%= data.name %> = () => {
    return (
        <div className={Styles.<%= data.lowerName %>}><%= data.name %></div>
    )
}

export default <%= data.name %>;