import React, { PureComponent } from 'react';
import Styles from './<%= data.name %>.<%= data.iType %>';

class <%= data.name %> extends PureComponent {
    render() {
        return (
            <div className={Styles.<%= data.lowerName %>}><%= data.name %></div>
        )
    }
}

export default <%= data.name %>;